APP_LOG_LVL=0

APP_DSN="postgresql://postgres:postgres@app-db:5432/postgres"
APP_JWT_SECRET=session_secret
APP_SESSION_EXPIRE_TIMEOUT=10

#used only for CORS now, so can be left blank
APP_PUBLIC_URL="http://localhost"

#DB related variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

PGADMIN_DEFAULT_EMAIL=admin@app.local
PGADMIN_DEFAULT_PASSWORD=admin